# Compiled class file
*.class
*.exe

# Compiled C/C++ binaries, objects, and libraries (Linux & Windows)
*.out
a.out
*.o
*.obj
*.so
*.a
*.dylib
*.dll

# Extensionless Linux binaries in C++ folders
OOPS in C++/**
!OOPS in C++/**/
!OOPS in C++/**/*.cpp
!OOPS in C++/**/*.h
!OOPS in C++/**/*.hpp
!OOPS in C++/**/*.c

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
